
.accountsettings {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.mainhead1 {
    margin-bottom: none;
}


.profile_edit{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid goldenrod
}


.profile_img_label{
    display: flex;
    padding: 0.5rem 1rem 1rem 2.5rem
}



.column {
    position: absolute;
    right: 300px;
    top: 159px
}




.form-group {
    transition:all .3s;
    padding-top: 15px;
    padding-left: 10px;
}


.form_label {
    font-size: 0.80em;
    font-style: italic;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-1.5em);
    transform-origin:0 0;
    transition: all .3s; 
}


.form-control{
    color:black;
    border-color: grey;
    border-width: 1px;
    background-color: hsla(0, 0%, 100%, 0.116);
    border-radius: 0px;
    border-style: none none solid none;
    width: 372px;
    font-size: 13px;
    transition: all 0.3s;
    padding: 6px;
}


.form-control::placeholder{
    color: transparent;
}


.form-control:focus {
    box-shadow: none;
    outline:none;
    border-color: orange;
}


.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    transform:translateY(-2.8em) scale(0.7);
    font-style:normal;
    font-weight: 500;
    font-size: 1em;
    color: goldenrod;
}


.form-group:focus-within {
    transform:scale(1.05,1.05)
}



.accountsettings h1 {
    padding: 10px 20px;
}


.accountsettings .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 16px;
    gap: 20px;
}



.submit_edit{
    position: absolute;
    bottom: 7rem;
    right: 25rem;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ffba51;
    background-color: #bdbaba41;
    font-size: 12px;
    padding: 10px 30px 10px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffba51;
    transition: 300ms ease 0ms;
}