* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}


.black-palette {
    background-image: linear-gradient(to bottom, #333, #444);
}
