.card {
    position: relative;
    display: flex;
    left: 50%;
    top:50%;
    transform-style: preserve-3d;
    transition: 1000ms;
}


.container-one {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 90px;
    background-color: #fff;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 9px;
    height: 555px;
    width: 412px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28);
}

.flip-exit {
    transform: rotateY(0deg)
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 750ms;
    transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.flip-enter {
    transform: rotateY(180deg)
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 750ms;
    transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);

}

.card-front,
.card-back {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}


.text {
    color: #ffba51;
    font-size: 32px;
    font-weight: 520;
}

.social-icons {
    margin: 20px ;
    gap: 1rem
}

.social-icons a {
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccbc;
    border-radius: 20%;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 3px;
    width: 26px;
    height: 26px;
    color: #ffba51;
    transition: 300ms ease 0ms;
}



.social-icons .iconG:hover{
    background-color: #dc4e41;
    color: white;
    transition: 300ms ease 0ms;
}



.social-icons .iconF:hover{
    background-color: #3b5998;
    color: white;
    transition: 300ms ease 0ms;
}



.social-icons .iconH:hover{
    background-color: #000000;
    color: white;
    transition: 300ms ease 0ms;
}


.social-icons .iconL:hover{
    background-color: #0077b5;
    color: white;
    transition: 300ms ease 0ms;
}



.social-icons a:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(4px);
    border: 1px solid #ccbc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    color: #ffba51;
    transition: 0ms linear;
}



.underline {
    width: 45px;
    height: 4px;
    background-color: #ffba51;
    border-radius: 9px;
}



.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 58px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 20px;
    width: 20px;
    opacity: 0.2;
}

.input input {
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    color:#797979
}

i {
    font-size: 14px
}

.forgot-password-span {
    display: inline-block;
    white-space:nowrap;
}


.forgot-password {
    display: inline-block;
    font-size: 10px;
    position: absolute;
    top: 1;
    left:0;
    color:#797979;
    font-size: 11px;
    padding-left: 4.73rem;
    padding-top: 2px
}

.eye-div {
    padding-right: 10px;
}

.eye-image {
    padding: 1px;
    cursor: pointer;
}

.submit-container a:hover span{
    color:#d48d21;
    cursor: pointer;
    transition: 400ms ease
}



.button-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 30px;
    padding-bottom: 6px;
    width: 220;
    white-space: nowrap;
}



.footer-login{
    font-size: 12px;
    text-align: center;
      
}

.footer-login a {
    color: #ffba51;
}




.submit,
.submit_edit {
    border-width: 0.5px;
    border-style: solid;
    border-color: #ffba51;
    background-color: #bdbaba41;
    font-size: 12px;
    padding: 10px 30px 10px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffba51;
    transition: 300ms ease 0ms;
}

.submit:hover,
.submit_edit:hover {
    -webkit-box-shadow:0px 0px 6px 0px rgba(255,185,81,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(255,185,81,1);
    box-shadow: 0px 0px 6px 0px rgba(255,185,81,1);
    transition: 300ms ease 0ms;
}







