.note-card {
    
    width: 28rem;
    height: 28rem;
    background-image: url("../../images/notecard.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top:0;
    margin: none;
}

.form-group-notecard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.6rem;
}

.form-group-notecard-texteditor {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}


.form-group-notecard input::placeholder {
    color: black;
    font-style: italic;
    opacity: 0.4;
    font-weight:400;
}


.form-group-notecard input:focus::placeholder {
    color: transparent;
    transition: 400ms ease 50ms;
}


.form-control-notecard{
    background-color: transparent;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: bolder;
}



.form-control-notecard:focus {
    box-shadow: none;
    outline:none;
}



select {
    background-color: #fbf5e6;
    font-style: italic;
    -webkit-appearance: none;
    -moz-appearance: none ;
    -ms-appearance: none;
    outline: 0;
    box-shadow: 0;
    border: 0 ;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
    font-size: 14px ;
    -webkit-box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
-moz-box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
}  

select::-ms-expand {
    display: none;
}


.form-group-notecard-category {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    width: 20em;
    height: 2.5em;
    background-color: #fbf5e6;
    margin-left: 4rem;
    border-radius: 5px;
    -webkit-box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
-moz-box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
box-shadow: 23px 27px 35px -19px rgba(17,17,17,1);
}


.form-group-notecard-category::after {
    content: "\25BC";
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    background-color: wheat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 0.25s all ease;
}

.form-group-notecard-category:hover::after{
    color: #ffba51;;
    background-color: rgb(172, 170, 170);

}

option {
    color: black; 
    font-weight:500;
}
   

.form-group-notecard-public_private {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1.5rem;
}


.form-group-notecard-public_private {
    font-size: 14px;
    font-style: italic;
    opacity: 0.9;
}

input[type='radio'] {
    accent-color: gray;
}