.ql-editor {
    overflow: auto;
    max-height: 12rem;
    height: 12rem;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #faf2de

}

.ql-toolbar {
    background-color: wheat;
    
}

.quill {
    border-color: black;
    width: 90.5%;
    padding-right: 2.55px;
    -webkit-box-shadow: 0px 9px 22px -20px rgba(17,17,17,1);
-moz-box-shadow: 0px 9px 22px -20px rgba(17,17,17,1);
box-shadow: 0px 9px 22px -20px rgba(17,17,17,1);


}
